DAO Service/Common/Service References/ServiceMgr/ServiceMgr8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BllService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BllService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SessionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastActivityTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionInfo" nillable="true" type="tns:SessionInfo" />
  <xs:complexType name="ArrayOfSessionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SessionInfo" nillable="true" type="tns:SessionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSessionInfo" nillable="true" type="tns:ArrayOfSessionInfo" />
</xs:schema>