DAO Service/Common/Service References/ServiceMethod/AuthorityServiceMgr55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUpdateFileModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpdateFileModel" nillable="true" type="tns:UpdateFileModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdateFileModel" nillable="true" type="tns:ArrayOfUpdateFileModel" />
  <xs:complexType name="UpdateFileModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DownLoadUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Loc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateFileModel" nillable="true" type="tns:UpdateFileModel" />
</xs:schema>