DAO Service/Common/Service References/ServiceReceivables/ServiceReceivables.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceReceivables" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IServiceReceivables_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.198/BllService_Test/ServiceReceivables.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.198/BllService_Test/ServiceReceivables.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.0.198/BllService_Test/ServiceReceivables.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://192.168.0.198/BllService_Test/ServiceReceivables.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceReceivables_StartSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartSession" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_StartSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_GetGy_BankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGy_BankAccount" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_GetGy_BankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGy_BankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_Get_t_maAccCout_InputMessage">
    <wsdl:part name="parameters" element="tns:Get_t_maAccCout" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_Get_t_maAccCout_OutputMessage">
    <wsdl:part name="parameters" element="tns:Get_t_maAccCoutResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_GetRP_InputCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRP_InputCode" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_GetRP_InputCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRP_InputCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_GetV_QcArNote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetV_QcArNote" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_GetV_QcArNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetV_QcArNoteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_GetMasterCur_Dept_cust_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterCur_Dept_cust" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_GetMasterCur_Dept_cust_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMasterCur_Dept_custResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_select_FIinv_InputMessage">
    <wsdl:part name="parameters" element="tns:select_FIinv" />
  </wsdl:message>
  <wsdl:message name="IServiceReceivables_select_FIinv_OutputMessage">
    <wsdl:part name="parameters" element="tns:select_FIinvResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServiceReceivables">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReceivables/StartSession" message="tns:IServiceReceivables_StartSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReceivables/StartSessionResponse" message="tns:IServiceReceivables_StartSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetGy_BankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReceivables/GetGy_BankAccount" message="tns:IServiceReceivables_GetGy_BankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReceivables/GetGy_BankAccountResponse" message="tns:IServiceReceivables_GetGy_BankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Get_t_maAccCout">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReceivables/Get_t_maAccCout" message="tns:IServiceReceivables_Get_t_maAccCout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReceivables/Get_t_maAccCoutResponse" message="tns:IServiceReceivables_Get_t_maAccCout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRP_InputCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReceivables/GetRP_InputCode" message="tns:IServiceReceivables_GetRP_InputCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReceivables/GetRP_InputCodeResponse" message="tns:IServiceReceivables_GetRP_InputCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetV_QcArNote">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReceivables/GetV_QcArNote" message="tns:IServiceReceivables_GetV_QcArNote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReceivables/GetV_QcArNoteResponse" message="tns:IServiceReceivables_GetV_QcArNote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetMasterCur_Dept_cust">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReceivables/GetMasterCur_Dept_cust" message="tns:IServiceReceivables_GetMasterCur_Dept_cust_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReceivables/GetMasterCur_Dept_custResponse" message="tns:IServiceReceivables_GetMasterCur_Dept_cust_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="select_FIinv">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReceivables/select_FIinv" message="tns:IServiceReceivables_select_FIinv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReceivables/select_FIinvResponse" message="tns:IServiceReceivables_select_FIinv_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IServiceReceivables" type="tns:IServiceReceivables">
    <wsp:PolicyReference URI="#WSHttpBinding_IServiceReceivables_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartSession">
      <soap12:operation soapAction="http://tempuri.org/IServiceReceivables/StartSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGy_BankAccount">
      <soap12:operation soapAction="http://tempuri.org/IServiceReceivables/GetGy_BankAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get_t_maAccCout">
      <soap12:operation soapAction="http://tempuri.org/IServiceReceivables/Get_t_maAccCout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRP_InputCode">
      <soap12:operation soapAction="http://tempuri.org/IServiceReceivables/GetRP_InputCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetV_QcArNote">
      <soap12:operation soapAction="http://tempuri.org/IServiceReceivables/GetV_QcArNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMasterCur_Dept_cust">
      <soap12:operation soapAction="http://tempuri.org/IServiceReceivables/GetMasterCur_Dept_cust" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_FIinv">
      <soap12:operation soapAction="http://tempuri.org/IServiceReceivables/select_FIinv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceReceivables">
    <wsdl:port name="WSHttpBinding_IServiceReceivables" binding="tns:WSHttpBinding_IServiceReceivables">
      <soap12:address location="http://192.168.0.198/BllService_Test/ServiceReceivables.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.0.198/BllService_Test/ServiceReceivables.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>